<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dictionary2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E2DDE3F41F14D14D00E52666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2DDE4081F14D14E00E52666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E2DDE4131F14D14E00E52666</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
